@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Mono:300');
@import 'app';

@include mat-core();
$candy-app-primary: mat-palette($mat-cyan, 800, 800);
$candy-app-accent:  mat-palette($mat-teal, 400);
$candy-app-warn:    mat-palette($mat-red);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
@include angular-material-theme($candy-app-theme);

body {
  font-family: Roboto;
  margin: 0px;
  padding: 0px;
}

a {
  color: #303F9F;

  &:hover {
    text-decoration: underline;
  }
}

.primary-color {
  color: #303F9F !important;
}

.bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.fill-remaining-space {
  /*This fills the remaining space, by using flexbox.
 Every toolbar row uses a flexbox row layout. */
 flex: 1 1 auto;
}

.full-width {
  width: 100%;
}
