.background-none {
  background-color: transparent!important;
}
.shadow-none {
  box-shadow: none!important;
}
.product-figure {
  background-color:white;
  height: 245px;
}
.product-badge {
  color: #fff;
  text-align: center;
  position: absolute;
  font-weight: bold;
  border-top: 30px solid #7CB342;
  border-bottom: 30px solid transparent;
  border-right: 30px solid transparent;
  border-left: 30px solid #7CB342;
  top: 0;
  left: 0;
  z-index: 100;
  span {
    position: absolute;
    transform: rotate(-45deg);
    top: -18px;
    left: -25px;
    white-space: nowrap;
  }
}
.strikethrough {
  text-decoration: line-through;
}
.text-sm { font-size: 70% !important; }
