
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-shopping-cart-primary: mat-palette($mat-cyan, 800, 800);
$angular-shopping-cart-accent: mat-palette($mat-teal, 400);

// The warn palette is optional (defaults to red).
$angular-shopping-cart-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-shopping-cart-theme: mat-light-theme((
  color: (
    primary: $angular-shopping-cart-primary,
    accent: $angular-shopping-cart-accent,
    warn: $angular-shopping-cart-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($angular-shopping-cart-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  font-family: Roboto;
  margin: 0px;
  padding: 0px;
}
